@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family:fantasy
}

.container {
    width: 1500px;
    max-width: 100%;
    margin: auto;
}

#nav {
    background-color: rgb(0, 0, 0);
    
}

#nav ul li {
    list-style: none;
    display: inline;
    padding: 5px;
    margin: 10px;
}

#nav ul#menu li {
    float: left;
}

#nav ul#menu-direita li {
    float: right;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

ul li a {
    text-decoration: none;
    color: white;
}

.gold {
    background-color:rgb(67, 168, 168);
}

.banner {
    position: relative;
}


.btn { font-family: var(--fonte-principal);
    padding: 15px;
    margin: 30px 0;
    border-radius: 45px;
    background-color: green;
    color: white;
    text-decoration: none;
    cursor: pointer;

}

.btn:hover { background-color: darkred;}
section {padding-bottom: 20px;}
blockquote, p , hr { margin-bottom: 10px;}

section h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

[class*="col-"] {
    float: left; padding-right: 5px;
}

.col-1 {width: 8.33%; }
.col-2 {width:16.66%;}
.col-3 {width: 25%;}
.col-4{ width: 33.32% ;}
.col-5{width:41.61% ;}
.col-6 {width:50% ;}
.col-7 {width: 58.31% ;}
.col-8 {width: 66.64%;}
.col-9 {width: 75%;}
.col-10 {width:  83.3% ;}
.col-11 {width: 91.63%;}
.col-12 {width: 100%;}

.center {
    text-align: center;
}
#not img {
    height: 200px;
}
#not h6 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #f8f8f8;
    background-color:darkolivegreen;
    border-radius: 0 0 8px 8px ;
    font-weight: normal;
    padding: 5px;
}
img {
    width: 100%;
}

img.img_ajuste {
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

h1.h1_ajuste {
    font-size: larger;
}



section h2 {
    font-size: 27px;
    margin-bottom: 20px;
    
}
.ww{
    text-align: center;
}
#butum ul li {
    display: inline;
    list-style: none;
   margin: 100px;
    font-size: 30px;
    text-align: center;
}
#finish{
    background-color: rgb(218, 209, 128);
}  
#copyright{
    background-color: black;
}
.copy{
    text-align: center;
    color: silver;
    font-size: 20px;
}
#deu{
    padding-bottom: 68px;
    text-align: center;
    padding-top: 60px;
}
    

    



